
<div class="jumbotron" style="width:50%;margin:0 auto">
    <h2>Select a game</h2>
    <li>@Html.ActionLink("Binary(Yes/No)", "Quiz", "Home")</li>
    <li>@Html.ActionLink("MultipleChoice", "MultipleChoice", "Home")</li>
    </div>
